<div class="div" dir="rtl">
    <ul class="nav justify-content-center py-3 shadow-lg">
        <div class="flex d-flex align-items-center w-100">
            <div class="line"></div>
            <div class="logo pe-3">
                <img src="../../../assets/images/logo.png" class="rounded-circle" width="50" height="50">
            </div>
            <h1 class="text-light fw-bold">نظام توجيه الطرق</h1>
            <div class="line"></div>
        </div>
    </ul>

    <div class="back ms-auto me-4">
        <button class="btn btn-danger mt-2 d-block ms-auto backbtn" routerLink="/">
            <span class="bi bi-arrow-right-circle pe-2"></span>
            الرجوع
        </button>
    </div>

    <p class="chose text-center mb-5">اختر المكان الذي تريد الذهاب إليه</p>

    <div class="container-fluid">

        <!-- استبدل جزء الـ select بتاع الأماكن بالكود ده -->
        @if (places.length > 0) {
        <div class="w-75 mx-auto mb-4" dir="rtl">
            <ng-select [items]="uniquePlacesList" bindLabel="name" [(ngModel)]="selectedPlace" (change)="onSelectPlace()"
                placeholder="اختر المكان أو ابحث هنا..." notFoundText="عذراً، لا يوجد مكان بهذا الاسم"
                [searchable]="true" [clearable]="true" class="custom-ng-select">
            </ng-select>
        </div>
        }

        @if (buildings.length > 1) {
        <div class="animate__animated animate__fadeIn">
            <select class="form-select mb-3 w-75 mx-auto mb-4 animate__animated animate__fadeIn"
                [(ngModel)]="selectedBuilding">
                <option [ngValue]="null" disabled>هذا المكان له عدة مباني.. اختر رقم المبنى</option>
                @for (b of buildings; track b) {
                <option [ngValue]="b">مبنى {{ b }}</option>
                }
            </select>
        </div>
        }

        <button class="btn mx-auto d-block w-25 rounded-4 fw-bold main-btn mt-4" (click)="goToDetails()">
            عرض التفاصيل
        </button>
    </div>

    @if (showError) {
    <p class="text-danger text-center mt-3 fw-bold animate__animated animate__shakeX ">
        @if (!selectedPlace) {
        من فضلك اختر المكان أولاً
        } @else if (buildings.length > 1 && !selectedBuilding) {
        يرجى تحديد رقم المبنى للمتابعة
        }
    </p>
    }
</div>